<head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PP7C0M4K9Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PP7C0M4K9Y');
  </script>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <script>
    if (location.protocol != 'https:') {
      location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
    }
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://jonathanmann.github.io/public/css/poole.css">
  <link rel="stylesheet" href="https://jonathanmann.github.io/public/css/syntax.css">
  <link rel="stylesheet" href="https://jonathanmann.github.io/public/css/jonathanmann.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="https://jonathanmann.github.io/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="https://jonathanmann.github.io/atom.xml">
</head>
